body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    
}

a{
    color: inherit;
    text-decoration: none;
}

/* .main-container{
    height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.main-header{
    height: 10vh;
}


.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    font-size: 14px;
}

#link:hover{
    text-decoration: underline;
}

/* .nav-link-round{
    
} */

.button-app{
background-color: #4583ec;
border: none;
color: white;
border-radius: 4px;
font-weight: bold;
cursor: pointer;
/* margin: 0px 15px; */
}

.user-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
img{
    display: block;
    margin: auto;
}

.logo{
    width: 272px;
    height: 92px;
    margin-top: 30px;
}

button{
    text-align: center;
    width: 60px;
    height: 25px;
    font-size: 12px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

input{
    width: 600px;
    height: 42px;
    border: 1px solid gray;
    opacity: 0.5;
    border-radius: 32px;
}

input:hover{
    box-shadow: 0px 1px 3px 1px rgb(218, 218, 218);
    border-right-style: none;
}

.action-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

#action-button{
    width: 120px;
    height: 32px;
    background-color: #f4f4f4;
    opacity: 0.5px;
    border: 0px;
    border-radius: 4px;
    color: #646368;
    padding: 4px 8px;
    cursor: pointer;
}

.google-lang{
    display: flex;
    justify-content: center;
    margin-top: 22px;
    gap: 10px;
    font-size: 14px;
}

#lang{
    text-decoration: underline;
    color: blue;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 10px 10px 0px 10px;
    margin: 0;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #5f6368;
    font-size: 14px;
}

.main-footer {
    height: 20vh;
  }

.f-link:hover{
    text-decoration: underline;
}
#space{
    display: flex;
    gap: 10px;
}